<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="<%= title %>">
    <h1><%= title %></h1>
    <p id="category">Category: <span><%= dare.category %></span></p>
    <p id="description">Dare: <span><%= dare.description %></span></p>
    <p id="hashtag">Hashtag: <span><%= dare.hashtag %></span></p>
    </section>




<!-- chicken out button -->
    <form action="" method="">
      <input type="hidden" name="category" value="<%= dare.category %>">
      <input type="submit" value="Chicken Out" id="chicken-out">
    </form>


<!-- accept dares button -->
    <!-- <form action="/api/v1/users" method="post">
      <input type="hidden" name="dareID" value="<%= dare._id %> ">
      <input type="hidden" name="userID" value="<%= user._id %>">
      <input type="hidden" name="" value=" ">
      <input type="hidden" name=" " value=" ">
      <input type="submit" value="I'll do it">
    </form> -->


    </br>
    </br>

    <h4> Accepted Dares </h4>
    <p> List of accepted dares gets ajax-ed here</p>


 <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  </body>
</html>
