<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p>Dare: <%= dare.description %></p>
    <p>Category: <%= dare.category %></p>
    <p>Hashtag: <%= dare.hashtag %></p>


  </body>
</html>
