<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section class="<%= title %>">
    <h1><%= title %></h1>
    <p id="category">Category: <span><%= dare.category %></span></p>
    <p id="description">Dare: <span><%= dare.description %></span></p>
    <p id="hashtag">Hashtag: <span><%= dare.hashtag %></span></p>
    </section>


<!-- chicken out button -->
    <form action="" method="">
      <input type="hidden" name="category" value="<%= dare.category %>">
      <input type="submit" value="Chicken Out" id="chicken-out">
    </form>

    <a class="button" href="#" role="button">
    	<span>Too Chicken</span>
    	<div class="icon">
    		<i class="fa fa-remove"></i>
    		<i class="fa fa-check"></i>
    	</div>
    </a>

<!-- accept dares button -->
    <form action="/dares/<%=dare._id%>" method="post">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="hashtag" value="true">
      <input type="submit" value="I'll do it" id="do-it">
    </form>


    </br>
    </br>

    <h4> Accepted Dares </h4>
    <p> List of accepted dares gets ajax-ed here</p>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/main.js"></script>



  </body>
</html>
