<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

     <p>Category: <%= dare.category %></p>
    <p>Dare: <%= dare.description %></p>
    <p>Hashtag: <%= dare.hashtag %></p>

<!-- chicken out button -->
    <form action="/dares/api/random" method="get">
      <!-- <input type="hidden" name="dareID" value="<%= dare._id %>">
      <input type="hidden" name="userID" value="<%= user._id %>"> -->
      <input type="hidden" name="category" value="<%= dare.category %>">
      <input type="submit" value="Chicken Out">
    </form>


<!-- accept dares button -->
    <!-- <form action="/api/v1/users" method="post">
      <input type="hidden" name="dareID" value="<%= dare._id %> ">
      <input type="hidden" name="userID" value="<%= user._id %>">
      <input type="hidden" name="" value=" ">
      <input type="hidden" name=" " value=" ">
      <input type="submit" value="I'll do it">
    </form> -->


 <script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>

  </body>
</html>
